
body {
    margin: 0;
    padding: 0;
  }
  
  *{
    box-sizing: border-box;
  }
  #root{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
  }