.search {
    height: 50px;
    width: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;

    @media (max-width: 800px) {
        display: none;

    }
}

.header {
    display: flex;
    border-radius: 12px;
    background: var(--color-light-card-bg-c-1-light, #FCFCFC);
    padding: 12px 20px;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.tabs-group {
    display: flex;
    flex-grow: 1;
    list-style: none;
    gap: 15px;
    align-items: center;
    padding: 0;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif;

}

.tab-key {
    text-decoration: none;
    color: var(--color-light-p-text-c-1-light, #5B5D67);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 15px;

}

.selected-view {
    border-radius: 8px;
    background: var(--global-global-primary-c-1, #4361EE);
    padding: 10px;
    color: var(--global-neutral-white, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width:500px) {
    .header {
        gap: 0.5vw;
    }

    .tab-key {
        font-size: 2.8vw;
        padding: 1.8vw 2.8vw;
    }

    .tabs-group {

        gap: 1vw;


    }

}