.arrow-right {
    width: 20px;
    height: 20px;
    color: rgb(156, 154, 154);
}

.arrow-left{
    width: 20px;
    height: 20px;
}

.previous {
    color: rgb(156, 154, 154);
}

.page {
    border-radius: 4px;
    background: var(--global-global-primary-c-1, #318b25);
    padding: 10px;
    color: var(--global-neutral-white, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.pages-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: max-content;

}

